.img-header-post {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.Conteiner {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    
}